#wrapper {
  position: relative;
  overflow-x: hidden;
}

body {
  background-color: #242425;
  color: aliceblue;
  font-family: "Roboto", sans-serif;
  display: flex;
  padding: 0;
  margin: 0;
}
/***************Mobile******************/
#warenkorb {
  display: none;
}

.closebtn {
  display: none;
}
/***************BON******************/
#bon {
  height: 99vh;
  width: 30vw;
  background-color: #473783;
  display: flex;
  border-radius: 10px;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
}

#bon-header {
  background-color: #785ddc;
  width: 100%;
  min-height: 15vh;
  border-radius: 10px 10px 0 0;
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#bon-header-titel {
  width: 100%;
}

.bon-artikel-liste {
  height: 69vh;
  font-size: 1.25rem;
  overflow: auto;
}

#orderlist {
  display: flex;
  flex-direction: column-reverse;
}

.test {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.bon-artikel-div {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px 10px 5px;
}

.bon-artikel-zaehler {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 0 5px 0 5px;
}

.bon-artikel-bild {
  width: 50px;
  max-height: 50px;
  padding: 0 5px 0 5px;
}

.bon-artikel-text {
  display: flex;
  align-items: center;
  padding: 0 5px 0 5px;
}

.bon-artikel-preis {
  font-weight: 700;
  color: #00fde4;
  white-space: nowrap;
  display: flex;
  align-items: center;
  padding: 0 5px 0 5px;
}

.bon-artikel-reduzierterpreis {
  font-weight: 700;
  color: #00fde4;
  text-decoration: line-through;
  display: flex;
  align-items: center;
  padding: 0 5px 0 5px;
  white-space: nowrap;
}

.bon-artikel-gutschrift {
  font-weight: 700;
  color: #00fde4;
  padding: 0 5px 10px 5px;
  display: flex;
  justify-content: center;
  text-align: center;
}

#bon-footer {
  background-color: #785ddc;
  width: 100%;
  min-height: 15vh;
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: 0;
  font-size: 1.75rem;
}

#footer-total {
  text-align: center;
  padding: 5%;
}

.footer-button-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 5%;
}

.footer-button {
  border-radius: 10px;
  padding: 0.2em 0.5em;

  background-color: #1a2961;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.footer-button:hover {
  background-color: #273981;
  cursor: pointer;
  transition: all 400ms;
}

/***************ARTIKEL******************/
#artikel-liste {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 10% 0 10%;
}

.artikel-kachel {
  background-color: #1a2961;
  min-height: 15rem;
  min-width: 15rem;
  margin: 2% 5% 2% 5%; /** top right bottom left **/
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.artikel-kachel:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: all 300ms;
}

.kachel-titel {
  font-size: 1.25rem;
  width: 100%;
  text-align: center;
}

.kachel-bild {
  max-width: 7rem;
}

#button-preis-container {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.kachel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  color: black;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
}

.kachel-button:hover {
  background-color: #b09bfc;
  cursor: pointer;
  transition: all 400ms;
}

.preis-container {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
/***************FRAGE******************/
.fullscreen-container {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(90, 90, 90, 0.5);
  z-index: 9999;
}

#popdiv {
  position: fixed;
  top: 30%;
  left: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #785ddc;
  border-radius: 20px;
  padding: 2% 2% 2% 2%;
  font-size: 2rem;
}

.bezahl-child-container {
  padding-bottom: 10px;
}

.bezahl-text {
  font-size: 2rem;
  padding-bottom: 25px;
}

.bezahl-preis {
  font-weight: 700;
  color: #00fde4;
}

@media screen and (max-width: 1685px) {
  #artikel-liste {
    padding: 0;
  }

  .artikel-kachel {
    margin: 0; /**top right bottom left **/
  }
}

@media screen and (max-width: 1100px) {
  /***************BON******************/
  #bon {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
  }

  #bon .closebtn {
    display: block;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 40px;
    /*margin-left: 50px;*/
    color: aliceblue;
    text-decoration: none;
  }

  #footer-total {
    font-size: 2rem;
  }

  #footer-button-container {
    background-color: violet;
  }

  #artikel-liste {
    background-color: #111111;
  }
  /***************Warenkorb Mobile******************/
  #warenkorb {
    background-color: #1bb35a;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 15px;
    top: 10px;
    right: 10px;
    border-radius: 100%;
    height: 50px;
    width: 50px;
  }

  #cart-img {
    width: 30px;
    height: auto;
  }

  #wk-total {
    white-space: nowrap;
  }

  /***************ARTIKEL******************/
  #artikel-liste {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .artikel-kachel {
    width: 100%;
    background-color: #1a2961;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    border-radius: 0;
    box-shadow: 0;
    border-bottom: 1px solid rgb(255, 255, 255);
  }

  .kachel-titel {
    margin-bottom: -10%;
    font-size: 2rem;
  }

  #button-preis-container {
    width: 50%;
  }

  .button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .kachel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    color: black;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
  }
}
